body {
    background-image: url("images/BG.jpg");
    color: black;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    border: 3px solid white;
    background-color: gray;
}

h2:hover{
    background-color: pink;
}

main {
    border: 5px solid red;
    height: 30em;
    width: 30em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:20%;
    flex-wrap: wrap;
    row-gap: 2%;
    
}

main>div {
    border: 5px solid blue;
    width: 25%;
    background-color: white;
    height: 25%;
}



